body {
    background-image:url(https://wallpapercave.com/wp/wp5475488.jpg)
       }

       h1 {text-align: center;}
       p {text-align: center;}
    
h1{
    font-family Rosanna; src: url('Rosanna.ttf');  
       font-family: Rosanna 
    }
    h1{
        position: relative;
        top: -50px;
    font-size: 190px ;
    color: #ffcb31;
    
    
    text-shadow:
    -2px -2px 0 rgb(255, 255, 255),
    1px -1px 0 rgb(255, 255, 255),
    -1px 1px 0 rgb(255, 255, 255),
    1px 1px 0 rgb(255, 255, 255);  
    }

    h1 {
        text-shadow: 3px 3px #ffffff;
      }
      a{
        color: #ffcb31
    }
    a,
    a:visited{
        color: #ffcb31
    }
    a:hover{
        color: #31a2ff
    }
    
.accenttype{
    font-family: 'Montserrat', sans-serif;;
    font-size: 20px ;
    color: #ffd900;
    

}

.box1 {
    position: static;
    margin-right:auto ;
    margin-left:auto ;
    margin-top: -200px ;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: -15px;
    padding-bottom: 10px;
    background-color: rgba(23, 83, 78, 0.815);
    width: 1000px;
    height: 280px;
        border: 5px solid #ffcb31;

}
.box2{
    position: absolute;
    top: 600px ;
    left:100px ;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: -15px;
    padding-bottom: 10px;
    background-color: rgba(0, 29, 41, 0.863);
    width: 550px;
    height: 440px;
    border: 5px solid #ffcb31;

}
.highlight-text{

    font-family: 'Montserrat', sans-serif;;

    color: #ffffff; 
    font-size: 20px ;
}


mark.red {
    color:#ffe28b;
    background: none;
}
.box3{
    position: absolute;
    top: 600px ;
    left:720px ;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(54, 25, 0, 0.788);
    width: 560px;
    height: 400px;
    border: 5px solid #ffcb31;

}
.box4{

    position: absolute;
    top: 1940px;
left: 100px;
    margin-right:auto ;
    margin-left:auto ;
    margin-top: -110px ;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: -15px;
    padding-bottom: 20px;
    background-color: rgba(116, 18, 146, 0.678);
    width: 1180px;
    height: 300px;
        border: 5px solid #ffcb31;


}

.box5{

    position: absolute;
    top: 1200px;
left: 100px;
    margin-right:auto ;
    margin-left:auto ;
    margin-top: -110px ;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: -35px;
    padding-bottom: 10px;
    background-color: rgba(22, 134, 179, 0.678);
    width: 550px;
    height: 700px;
        border: 5px solid #ffcb31;
}
.box6{
    position: absolute;
    top: 1150px;
left: 720px;
    margin-right:auto ;
    margin-left:auto ;
    margin-top: -110px ;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: -15px;
    padding-bottom: 20px;
    background-color: rgba(182, 81, 136, 0.678);
    width: 550px;
    height: 740px;
        border: 5px solid #ffcb31;
    
}

.image1{
top: 230px;
  position: absolute;
  left: 60px;
  
}

.box1A {
    position: static;
    margin-right:auto ;
    margin-left:auto ;
    margin-top: -190px ;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: -15px;
    padding-bottom: 10px;
    background-color: rgba(23, 83, 78, 0.815);
    width: 1000px;
    height: 170dpx;
        border: 5px solid #ffcb31;

}

.box2A{
    position: absolute;
    top: 510px ;
    left:100px ;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: -15px;
    padding-bottom: 10px;
    background-color: rgba(130, 113, 134, 0.863);
    width: 550px;
    height: 900px;
    border: 5px solid #ffcb31;

}
    

.image3{
top: 60px;
position: absolute;
left: 35px;
  
}

.box3A{
    position: absolute;
    top: 620px;
left: 720px;
    margin-right:auto ;
    margin-left:auto ;
    margin-top: -110px ;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: -15px;
    padding-bottom: 10px;
    background-color: rgba(0, 101, 141, 0.678);
    width: 550px;
    height: 1120px;
        border: 5px solid #ffcb31;
    
}

.image1A    {
    top: 620px;
      position: absolute;
      left: 60px;
}  

 
.imageG1    {
    top: 1465px;
      position: absolute;
      left: 100px;
      border: 5px solid #ffcb31;
}
 
.imageG2    {
    top: 1685px;
      position: absolute;
      left: 785px;
      border: 5px solid #ffcb31;
}
.audiobox{


    width:500px; 
    margin:auto;
     position:relative;
     top: -560px;
     left: 100px;

}

.audiobox2{


    width:500px; 
    margin:auto;
     position:relative;
top: -455px;
left: 100px;
}

.homebutton{
    position: absolute;
    top: 140px;
left: 30px;
    margin-right:auto ;
    margin-left:auto ;
    margin-top: -110px ;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: -25px;
    padding-bottom: 5px;
    background-color: rgba(0, 22, 27, 0.678);
    width: 60px;
    height: 9x;
        border: 5px solid #ffcb31;
    
}
